* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 100%;
  min-height: 100vh;
  background: url('https://images.unsplash.com/photo-1591091276770-c430bd287ff1?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo {
  width: 100%;
  background: transparent;
  backdrop-filter: blur(8px);
  border: 1px solid;
  border-radius: 10px;
}
.todo .heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo .heading img {
  height: 50px;
  width: 50px;
  margin: 40px 30px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  padding: 0 3rem;
}
.todo-input {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 40px;
  font-size: 16px;
  border: 1px solid;
}

.todo-check {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btn {
  background-color: #665e5e;
  padding: 0.85rem 2.5rem;
  border: none;
  border-radius: 40px;
  text-align: center;
  position: absolute;
  font-size: 15px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #665e5ed5;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

ul li {
  list-style: none;
  margin: 0.75rem 0;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

ul li p {
  flex: 1;
  color: white;
}

ul li input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.delete-btn {
  background-color: #e74c3c;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 40px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease-in-out;
}

ul li input[type="checkbox"]:checked + p {
  text-decoration: line-through;
}

