
*{
    background-color: #1f1c1f;
}
.square{
    /* width: 50%;
    height: 50%; */
    display: block;
    text-align: center;
    font-size: 30px;
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 5px;
    padding-bottom: 80px;

}
 
.bg-red{
    /* background-color: red; */
    /* max-width: 10vw; */
    align-items: center;
    margin: auto;
}
.container{
    align-items: center;
    color: yellow;
    width: 50%;
    height: 40%;
    padding-bottom: 5px;
    border: 50px solid rgba(32, 30, 32, 0.925);
    padding: 10px;
    border-radius: 5px;

}
.button{
    color: tomato;
    background-color: beige;
    padding: 30px;
    border-radius: 6px;
    /* border: 2px solid rgb(66, 56, 56); */
    cursor: pointer;
    border: 3px solid rgba(160, 96, 96, 0.895);
    
}

.Row input{
    margin: 0px;
    padding: 4px;
    background-color: rgba(32, 30, 32, 0.925);
    border: 6px solid rgba(32, 30, 32, 0.925);
    border-radius: 5px;
    margin-bottom: 9px;
    color: :white;
    width: 300px;
    height: 50px;


}
.Row2{
    margin-right: 10px;
    color: blue;
}
.text{
    color: white;
}
.input{
    color: aliceblue;
    font-size: 40px;
    
}

